
.about{
  width:100%;
  height: 3340px;
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid blue;
  color:#55515B;
  font-family: 'Poppins', sans-serif;
}

/* part one  */
.about-part-one{
  width: 80%;
  height: 250px;
  display: flex;
  margin: 15px auto 0;
  flex-direction: row; 
  /* border: 1px solid blue; */
}
.about-part-one-text{
  width: 54%;
  margin: 50px 0 0 0;
  font-size: 1.5em;
  /* border: 1px solid blue; */
}
.about-part-one-image{
  width:46%;
  max-height:100%;
  object-fit: contain; 
  /* border: 1px solid blue; */
}

/* part two */
.about-part-two{
  width: 80%;
  height: 370px;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  /* border: 1px solid blue; */
}
.about-part-two-text{
  display: block;
  font-size: 1.5em;
  margin: 28px 0 0 516px;
  /* border: 1px solid blue; */
}

.coding-projects-outter-box{
  width: 75%;
  height: 250px;
  margin: 30px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
}

/* part three */
.about-part-three{
  width: 80%;
  height: 250px;
  display: flex;
  margin: 20px auto 0;
  flex-direction: row; 
  /* border: 1px solid blue; */
}
.about-part-three-text{
  width: 51%;
  height: auto;
  display: block;
  font-size: 1.5em;
  margin-top: 45px;
  /* border: 1px solid blue; */
}

.about-part-three-image-web{
  width:20%;
  height:auto;
  object-fit: contain;
  margin-right:8%; 
  /* border: 1px solid blue; */
}

.about-part-three-image-tee{
  width:20%;
  height:auto;
  object-fit: contain;
  /* border: 1px solid blue; */
} 

/* part four */
.about-part-four{
  width: 80%;
  height: 400px;
  display: flex;
  margin: 45px auto 0;
  flex-direction: column;
  font-size:1.5em;
  /* border: 1px solid blue; */
}
.about-part-four-text{
  display: block;
  width: auto;
  margin-left: 170px; 
}
.design-projects-outter-box{
  width: 100%;
  height: auto;
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid red;
}

/* part five */
.about-part-five{
  width:80%;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* border: 1px solid blue; */
}
.about-part-five-tv-box{
  width: 28%;
  height: auto;
  margin: 80px 0 0 125px;
  display: block;
  /* border: 1px solid blue; */
  z-index: 10000;
}
.about-part-five-image-tv{
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  /* border: 1px solid blue; */
}
.about-part-five-text{
  display: block;
  font-size: 1.5em;
  max-height: 30%;
  margin: 165px 0 0 10%;
  /* border: 1px solid blue; */
}

.about-part-five-image-dance{
  width: 8%;
  height: 50%;
  object-fit: contain;
  margin: 20px 0 0 40px ;
  /* border: 1px solid blue; */
  z-index: 10000;
}

/* part six */
.about-part-six{
  width: 80%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}
.about-part-six-text{
  display: block;
  font-size: 1.5em;
  width: 60%;
  margin: 20px 0 0 470px;
  /* border: 1px solid blue; */
}
.about-part-six-image-box{
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
}
.about-part-six-image-game{
  margin: 160px 0 0 -20px;
  position: absolute;
  /* border: 1px solid blue; */
}
.about-part-six-image-food{
  width: 15%;
  margin: 135px 0 0 785px;
  position: absolute;
  /* border: 1px solid blue; */
}

/* canvas */

#canvas{
  margin: auto auto;
  position: absolute;
  z-index: 1000;
  width: 100%;
  border: 1px solid black;
}

