@media screen and (min-width: 1270px){ 
.about{
  display: flex;
  position: relative;
  flex-direction: column;
  /* border: 1px solid red; */
  color:#474647;
  font-size: 1.4em;
  font-family: 'Poppins', sans-serif;
}


.down-arrow-box{
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 101;
  /* border: 1px solid blue; */
}


.down-arrow{
  display: block;
  margin: 0 0 0 42.5%;
  cursor: pointer;
  /* border: 1px solid blue; */
}


/* part one  */
.about-part-one{
  width: 80%;
  height: 9.2%;
  display: flex;
  margin: 1.2% auto 0;
  flex-direction: row; 
  /* border: 1px solid blue; */
}
.about-part-one-text{
  width: 54%;
  margin: 5.5% 0 0 0;
  /* border: 1px solid blue; */
}
.about-part-one-text-title{
  font-size: 2.5em;
}
.about-part-one-image{
  width:46%;
  max-height:100%;
  object-fit: contain; 
  /* border: 1px solid blue; */
}

/* part two */
.about-part-two{
  width: 80%;
  height: 13.6%;
  display: flex;
  flex-direction: column;
  margin: 1.6% auto 0;
  /* border: 1px solid blue; */
}
.about-part-two-text{
  display: block;
  margin: 3% 0 0 53.5%;
  /* border: 1px solid blue; */
}

.coding-projects-outter-box{
  width: 75%;
  height: 250px;
  margin: 45px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  /* border: 1px solid red; */
}

/* part three */
  .about-part-three{
    width: 100%;
    height: 220px;
    display: flex;
    margin: 3% auto 0;
    flex-direction: row; 
    /* border: 1px solid blue;  */
  }
  .about-part-three-text-box{
    width: 40%;
    height: auto;
    display: block;
    margin-top: 4%;
    /* border: 1px solid blue; */
  }
  .about-part-three-text{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin: auto;
    /* border: 1px solid blue; */
  }
  .about-part-three-images{
    width: 60%;
    margin-top:2%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid blue; */
  }
  .about-part-three-image-web{
    width:35%;
    height:auto;
    object-fit: contain;
    margin-left:13%; 
    /* border: 1px solid blue; */
  }
  .about-part-three-image-tee-box{
    width:35%;
    height:auto;
    display: flex;
    z-index: 100;
    margin-right:14.5%; 
    /* border: 1px solid blue; */
  }

  .about-part-three-image-tee{
    max-width:100%;
    max-height:100%; 
    margin: auto;
    object-fit: contain;
    /* border: 1px solid blue; */
  } 

/* part four */
.about-part-four{
  width: 80%;
  height: 420px;
  display: flex;
  margin: 75px auto 0;
  flex-direction: column;
  /* border: 1px solid blue; */
}
.about-part-four-text{
  display: block;
  width: auto;
  margin: 23px 0 0 190px; 
  /* border: 1px solid blue; */
}
.design-projects-outter-box{
  width: 100%;
  margin: 50px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  /* border: 1px solid red; */
}

/* part five */
.about-part-five{
  width:80%;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}
.about-part-five-tv-box{
  width: 28%;
  height: 280px;
  margin: 40px 0 0 95px;
  display: block;
  /* border: 1px solid blue; */
  z-index: 100;
  position: absolute;
}
.about-part-five-image-gif{
  width: 85%;
  height: auto;
  display: block;
  object-fit: contain;
  margin: 53px auto 0;
  /* border: 1px solid blue; */
}

.about-part-five-text{
  display: block;
  max-height: 30%;
  margin: 145px 0 0 500px;
  /* border: 1px solid blue; */
}

.about-part-five-image-dance{
  width: 8%;
  height: 50%;
  object-fit: contain;
  margin: 10px 0 0 50px ;
  /* border: 1px solid blue; */
  z-index: 100;
}

/* part six */
.about-part-six{
  width: 80%;
  height: 390px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}
.about-part-six-text{
  display: block;
  width: 60%;
  margin: 5px 0 0 460px;
  /* border: 1px solid blue; */
}
.about-part-six-image-box{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}
.about-part-six-image-game{
  margin: 85px 0 0 -25px;
  position: absolute;
  /* border: 1px solid blue; */
}
.about-part-six-image-food{
  width: 15%;
  margin: 60px 0 0 785px;
  position: absolute;
  /* border: 1px solid blue; */
}

/* part seven */

.about-part-seven{
  width: 80%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
}

.about-part-seven-text{
  width: 40%;
  margin: 10px 0 0 310px;
  /* border: 1px solid blue; */

}
.about-part-seven-image-outter-box{
  width: 50%;
  display: flex;
  margin: 130px 0 0 210px;
  flex-direction: row;
  /* border: 1px solid blue; */
}
.about-part-seven-image-box{
  flex:1;
  margin-right:20px; 
  z-index:100;
  /* border: 1px solid blue; */
}

.about-part-seven-image{
  width:100%;
  margin-top: 10px;
  object-fit: contain;
  cursor: pointer;
}
.about-part-seven-image{
  width:100%;
  object-fit: contain;
  cursor: pointer;
}
.about-part-seven-image{
  width:100%;
  object-fit: contain;
  cursor: pointer;
}

/* part eight */
.about-part-eight{
  width: 85%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  /* border: 1px solid blue; */
}
.about-part-eight-text{
  width: 30%;
  height: 40px;
  display: block;
  margin: 90px 0 0 35px;
  /* border: 1px solid blue; */
}
.about-part-eight-text-two{
  width: 30%;
  height: 40px;
  display: block;
  margin: 90px 0 0 330px;
  /* border: 1px solid blue; */
}
.about-part-eight-arrow{
  width: 8%;
  height: 90px;
  margin: 10px 0 0 950px;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  /* border: 1px solid blue; */
}

/* canvas */

#canvas{
  margin: auto auto;
  position: absolute;
  z-index: 99;
  width: 100%;
  /* border: 1px solid black; */
}
}

@media (min-width: 730px) and (max-width: 1270px){ 
  .about{
    display: flex;
    position: relative;
    flex-direction: column;
    /* border: 1px solid red; */
    color:#474647;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
  }
  
  .down-arrow-box{
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 101;
    display: none;
    /* border: 1px solid blue; */
  }
  
  
  .down-arrow{
    display: block;
    margin: 0 0 0 41%;
    cursor: pointer;
    /* border: 1px solid blue; */
  }
  
  
  /* part one  */
  .about-part-one{
    width: 80%;
    height: 11%;
    display: flex;
    margin: 1.2% auto 0;
    flex-direction: row; 
    /* border: 1px solid blue; */
  }
  .about-part-one-text{
    width: 54%;
    margin: 10% 0 0 0;

    /* border: 1px solid blue; */
  }
  .about-part-one-text-title{
    font-size: 2.5em;
  }
  .about-part-one-image{
    width:46%;
    max-height:100%;
    object-fit: contain; 
    /* border: 1px solid blue; */
  }
  
  /* part two */
  .about-part-two{
    width: 80%;
    height: 13%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* border: 1px solid blue; */
  }
  .about-part-two-text{
    width: 50%;
    display: block;
    margin: 0 0 0 43%;
    text-align: center;
    /* border: 1px solid blue; */
  }
  
  .coding-projects-outter-box{
    width: 75%;
    height: 74%;
    margin: 3% auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    /* border: 1px solid red;  */
  }
  
  /* part three */
  .about-part-three{
    width: 100%;
    height: 8%;
    display: flex;
    margin: 1% auto 0;
    flex-direction: row; 
    /* border: 1px solid blue;  */
  }
  .about-part-three-text-box{
    width: 40%;
    height: auto;
    display: block;
    margin-top: 4%;
    /* border: 1px solid blue; */
  }
  .about-part-three-text{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin: auto;
    /* border: 1px solid blue; */
  }
  .about-part-three-images{
    width: 60%;
    margin-top:3%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid blue; */
  }
  .about-part-three-image-web{
    width:35%;
    height:auto;
    object-fit: contain;
    margin-left:13%; 
    /* border: 1px solid blue; */
  }
  .about-part-three-image-tee-box{
    width:35%;
    height:auto;
    display: flex;
    z-index: 100;
    margin-right:14.5%; 
    /* border: 1px solid blue; */
  }
  
  .about-part-three-image-tee{
    max-width:100%;
    max-height:100%; 
    margin: auto;
    object-fit: contain;
    /* border: 1px solid blue; */
  } 
  
  /* part four */
  .about-part-four{
    width: 80%;
    height: 14.5%;
    display: flex;
    margin: 7% auto 0;
    flex-direction: column;
    /* border: 1px solid blue; */
  }
  .about-part-four-text{
    width: 50%;
    text-align: center;
    display: block;
    margin: 1.5% 0 0 6%; 
    /* border: 1px solid blue; */
  }
  .design-projects-outter-box{
    width: 100%;
    margin: 4.5% auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    /* border: 1px solid red; */
  }
  
  /* part five */
  .about-part-five{
    width:80%;
    height: 12%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
  }
  .about-part-five-tv-box{
    width: 28%;
    margin: 4% 0 0 7%;
    display: block;
    /* border: 1px solid blue; */
    z-index: 100;
    position: absolute;
  }
  .about-part-five-image-gif{
    width: 85%;
    height: auto;
    display: block;
    object-fit: contain;
    margin: 17% auto;
    /* border: 1px solid blue; */
  }
  .about-part-five-text-box{
    display: block;
    width: 25%;
    margin: 15% 0 0 48%; 
    /* border: 1px solid blue; */
  }
  .about-part-five-text{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    /* border: 1px solid blue; */
  }
  
  .about-part-five-image-dance{
    width: 8%;
    height: 50%;
    object-fit: contain;
    margin: 2% 0 0 3% ;
    /* border: 1px solid blue; */
    z-index: 100;
  }
  
  /* part six */
  .about-part-six{
    width: 80%;
    height: 14%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
  }
  .about-part-six-text{
    display: block;
    width: 45%;
    text-align: center;
    margin: 3% 0 0 45%;
    /* border: 1px solid blue; */
  }
  .about-part-six-image-box{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
  }
  .about-part-six-image-game{
    width: 20%;
    margin: 7% 0 0 -4%;
    position: absolute;
    /* border: 1px solid blue; */
  }
  .about-part-six-image-food{
    width: 15%;
    margin: 5% 0 0 63%;
    position: absolute;
    /* border: 1px solid blue; */
  }
  
  /* part seven */
  
  .about-part-seven{
    width: 80%;
    height: 13%;
    margin: 2% auto 0;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
  }
  
  .about-part-seven-text{
    width: 60%;
    margin: 1.5% 0 0 20%;
    text-align: center;
    /* border: 1px solid blue; */
  
  }
  .about-part-seven-image-outter-box{
    width: 50%;
    display: flex;
    margin: 13% 0 0 21%;
    flex-direction: row;
    /* border: 1px solid blue; */
  }
  .about-part-seven-image-box{
    flex:1;
    margin-right:5%; 
    z-index:100;
    /* border: 1px solid blue; */
  }
  
  .about-part-seven-image{
    width:100%;
    margin-top: 10%;
    object-fit: contain;
    cursor: pointer;
    /* border: 1px solid blue; */
  }

  .about-part-seven-image{
    width:100%;
    object-fit: contain;
    cursor: pointer;
  }
  
  /* part eight */
  .about-part-eight{
    width: 85%;
    height: 7%;
    margin: 0 auto;
    display: flex;
    /* border: 1px solid blue; */
  }
  .about-part-eight-text{
    width: 30%;
    height: 40px;
    display: block;
    margin: 13% 0 0 0;
    text-align: center;
    /* border: 1px solid blue; */
  }
  .about-part-eight-text-two{
    width: 30%;
    height: 40px;
    display: block;
    margin: 13% 0 0 28%;
    text-align: center;
    /* border: 1px solid blue; */
  }
  .about-part-eight-arrow{
    width: 8%;
    height: 90px;
    margin: 2% 0 0 77%;
    position: absolute;
    cursor: pointer;
    z-index: 101;
    /* border: 1px solid blue; */
  }
  
  /* canvas */
  
  #canvas{
    margin: auto auto;
    position: absolute;
    z-index: 99;
    width: 100%;
    /* border: 1px solid black; */
  }
}

@media (min-width: 0px) and (max-width: 730px){ 
    .about{
      display: flex;
      position: relative;
      flex-direction: column;
      /* border: 1px solid red; */
      color:#474647;
      font-size: 0.8em;
      font-family: 'Poppins', sans-serif;
    }
    
    .down-arrow-box{
      width: 100%;
      position: absolute;
      display: flex;
      z-index: 101;
      display: none;
      /* border: 1px solid blue; */
    }
    
    
    .down-arrow{
      display: block;
      margin: 0 0 0 42.5%;
      cursor: pointer;
      /* border: 1px solid blue; */
    }
    
    
    /* part one  */
    .about-part-one{
      width: 80%;
      height: 5%;
      display: flex;
      margin: 0 auto;
      flex-direction: column; 
      /* border: 1px solid blue; */
    }
    .about-part-one-text{
      width: 90%;
      margin: 5% auto 0;
      text-align: center;
      /* border: 1px solid blue; */
    }
    .about-part-one-text-title{
      font-size: 1.5em;
    }
    .about-part-one-image{
      width:50%;
      max-height:100%;
      margin: 3% auto 0;
      object-fit: contain; 
      /* border: 1px solid blue; */
    }
    
    /* part two */
    .about-part-two{
      width: 80%;
      height: 22%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      /* border: 1px solid blue; */
    }
    .about-part-two-text{
      display: block;
      margin: 11% auto 0;
      /* border: 1px solid blue; */
    }
    
    .coding-projects-outter-box{
      width: 100%;
      height: 85%;
      margin: 7% auto 0;
      display: flex;
      flex-direction: column;
      z-index: 100;
      /* border: 1px solid red; */
    }
    
    /* part three */
    .about-part-three{
      width: 80%;
      height: 8%;
      display: flex;
      margin: 0 auto;
      flex-direction: column; 
      /* border: 1px solid blue; */
    }
    .about-part-three-text{
      width: 100%;
      text-align: center;
      height: auto;
      display: block;
      margin: 5% auto 0;
      /* border: 1px solid blue; */
    }
    .about-part-three-images{
      z-index: 101;
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 9% auto 0;
      /* border: 1px solid blue; */
    } 
    .about-part-three-image-web{
      width:40%;
      height:auto;
      object-fit: contain;
      /* border: 1px solid blue; */
    }
    .about-part-three-image-tee-box{
      width:40%;
      height:auto;
      display: flex;
      z-index: 100;
      /* border: 1px solid blue; */
    }
    
    .about-part-three-image-tee{
      max-width:100%;
      max-height: 100%;
      margin: auto;
      object-fit: contain;
      /* border: 1px solid blue; */
    } 
    
    /* part four */
    .about-part-four{
      width: 80%;
      height: 31%;
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      /* border: 1px solid green; */
    }
    .about-part-four-text{
      display: block;
      width: auto;
      margin: 11% auto 0; 
      /* border: 1px solid blue; */
    }
    .design-projects-outter-box{
      width: 100%;
      height: 92%;
      margin: 3.7% auto 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 100;
      /* border: 1px solid red; */
    }
    
    /* part five */
    .about-part-five{
      width:80%;
      height: 11%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* border: 1px solid gray; */
    }
    .about-part-five-tv-box{
      width: 78%;
      margin: 17% auto 0;
      display: block;
      /* border: 1px solid blue; */
      z-index: 100;
      position: relative;
    }
    .about-part-five-image-gif{
      width: 85%;
      height: auto;
      display: block;
      object-fit: contain;
      margin: 17% auto;
      /* border: 1px solid blue; */
    }
    .about-part-five-text-box{
      width: 60%;
      margin: -71% auto 0;
      /* border: 1px solid blue;  */
    }
    .about-part-five-text{
      display: block;
      text-align: center;
      margin:auto;
      /* border: 1px solid blue; */
    }
    
    .about-part-five-image-dance{
      display: none;
    }
    
    /* part six */
    .about-part-six{
      width: 80%;
      height: 9%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* border: 1px solid blue;  */
    }
    .about-part-six-text{
      display: block;
      width: 80%;
      text-align: center;
      margin: 3% auto 0;
      /* border: 1px solid blue; */
    }
    .about-part-six-image-box{
      z-index: 101;
      width: 90%;
      display: flex;
      flex-direction: row;
      margin: 16% auto 0;
      justify-content: space-between;
      /* border: 1px solid green; */
    }
    .about-part-six-image-game{
      width: 35%;
      margin: auto auto auto 0;
      /* border: 1px solid blue; */
    }
    .about-part-six-image-food{
      width: 35%;
      margin: auto 0 auto auto;
      /* border: 1px solid blue; */
    }
    
    /* part seven */
    .about-part-seven{
      width: 80%;
      height: 11%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      /* border: 1px solid red; */
    }
    
    .about-part-seven-text{
      width: 80%;
      margin: 15% auto 0;
      text-align: center;
      /* border: 1px solid blue; */
    
    }
    .about-part-seven-image-outter-box{
      width: 100%;
      display: flex;
      height: auto;
      margin: 10% auto auto;
      flex-direction: row;
      justify-content: space-between;
      /* border: 1px solid blue; */
    }
    .about-part-seven-image-box{
      flex:1;
      display: flex;
      margin-right:4.5%; 
      z-index:100;
      /* border: 1px solid blue; */
    }

    .about-part-seven-image{
      width:100%;
      margin: auto;
      object-fit: contain;
      cursor: pointer;
      /* border: 1px solid blue; */
    }
    
    /* part eight */
    .about-part-eight{
      width: 85%;
      height: 3%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      /* border: 1px solid blue; */
    }
    .about-part-eight-text{
      display: none;
    }
    .about-part-eight-text-two{
      width: 100%;
      height: 20%;
      display: block;
      margin: 12% auto 0;
      text-align: center;
      /* border: 1px solid blue; */
    }
    .about-part-eight-arrow{
      width: 80%;
      height: 20px;
      margin: -5% auto 0;
      cursor: pointer;
      z-index: 100;
      /* border: 1px solid green; */
    }
    
    /* canvas */
    
    #canvas{
      margin: auto auto;
      position: absolute;
      z-index: 99;
      width: 100%;
      /* border: 1px solid black; */
    }
}