/* overall */

/* @media screen and (max-width: 1280px)  */
.App {
  width: 1240px;
  height: auto;
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #F6F3F3;
  font-family: 'Nunito', sans-serif;
  box-shadow:0 0 15px grey, 0 0 2px;
}


/* need to change height to a number later  */
.home{
  width: 100%;
  height: 4000px; 
  display: flex;
  flex-direction: column;
}


