@media screen and (min-width: 930px){
  .emma-design{
    width: 100%;
    display: flex;
    position: relative;
    /* border: 1px solid blue; */
  }
  .emma-design-image{
    max-width:100%;
    object-fit: contain;
    object-position: top;
    display: block;
    /* border: 1px solid blue; */
  }
}
@media screen and (max-width: 930px){
  .emma-design{
    width: 100%;
    display: flex;
    position: relative;
    /* border: 1px solid blue; */
  }
  .emma-design-image{
    max-width:100%;
    object-fit: contain;
    object-position: top;
    display: block;
    /* border: 1px solid blue; */
  }
}