.nav{
  display: flex;
  background-color:rgb(71, 70, 71);
  height: 50px;
  width: 100%;
  margin: 0;
  z-index: 101;
}

/* nav bar */
.logo-box{
  display: flex;
  width: 15%;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid blue; */
}
.logo-inner-box{
  height: 100%;
  margin: 0;
  /* border: 1px solid red;  */
}
.logo{
  margin: auto auto;
  color:white;
  max-height: 100%;
  /* border: 1px solid red; */
}
.nav-outter-box{
  display: flex;
  width: 30%;
  margin-left:55%; 
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.nav-inner-box{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top:10px;
  /* border: 1px solid red; */
}
.nav-option{
  display: inline-block;
  box-sizing: border-box;
  width:22%;
  color: white;
  cursor: pointer;
  /* border: 1px solid red; */
}
