@media screen and (min-width: 1240px){
  .project-box{
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 0.7em; 
    /* border: 1px solid blue; */
  }
  /* .project-box:before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

  .project-box:hover{
      box-shadow: 0 30px 30px -10px rgba(31, 31, 31, 0.5);
  }


  .project-link-box{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .project-image{
    width: 90%;
    margin: 20px auto 0;
    display: block;
    border: 1px solid grey;
    /* border: 1px solid blue; */
  }
  .project-name{
    display: block;
    width: 90%;
    margin: 15px auto 0;
    color:#474647;
    /* border: 1px solid blue; */
  }
  .project-tech{
    display: block;
    width: 90%;
    margin: 5px auto 0;
    font-size: 0.7em; 
    color:#474647;
    /* border: 1px solid blue; */
  }
}

@media (min-width: 730px) and (max-width: 1240px){
  .project-box{
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 0.7em; 
    /* border: 1px solid blue; */
  }
  /* .project-box:before{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */

  .project-box:hover{
      box-shadow: 0 30px 30px -10px rgba(31, 31, 31, 0.5);
  }


  .project-link-box{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .project-image{
    width: 90%;
    margin: 6% auto 0;
    display: block;
    border: 1px solid grey;
    /* border: 1px solid blue; */
  }
  .project-name{
    display: block;
    width: 90%;
    margin: 3% auto 0;
    color:#474647;
    /* border: 1px solid blue; */
  }
  .project-tech{
    display: block;
    width: 90%;
    margin: 3% auto 0;
    font-size: 0.7em; 
    color:#474647;
    /* border: 1px solid blue; */
  }
}

@media (min-width: 0px) and (max-width: 730px){
  .project-box{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    background-color:white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    /* border: 1px solid blue;  */
  }
  .project-link-box{
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
  }
  .project-image{
    width: 90%;
    margin: 6% auto 0;
    display: block;
    border: 1px solid grey;
    /* border: 1px solid blue; */
  }
  .project-name{
    display: block;
    width: 90%;
    margin: 3% auto 0;
    color:#474647;
    /* border: 1px solid blue; */
  }
  .project-tech{
    display: block;
    width: 90%;
    margin: 3% auto 0;
    font-size: 0.7em; 
    color:#474647;
    /* border: 1px solid blue; */
  }
}