@media screen and (min-width: 1270px){
.travelbrite{
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
    color:#55515B;
}
.travelbrite-text-box{
  width: 35%;
  display: flex;
  margin: 5% 0 0 8%;
  /* border: 1px solid red; */
}
.travelbrite-text-name{
  font-size: 2em;
  line-height: 40px;
}
.travelbrite-image-box{
  width: 50%;
  display: flex;
  position: relative;
  margin: 5% 5% 0 5%;
  /* border: 1px solid red; */
}
.travelbrite-image{
  max-width:100%;
  object-fit: contain;
  object-position: top;
  display: block;
}
}
@media (min-width: 930px) and (max-width: 1270px){
  .travelbrite{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    color:#55515B;
  }
  .travelbrite-text-box{
    width: 35%;
    display: flex;
    margin: 5% 0 0 8%;
    /* border: 1px solid red; */
  }
  .travelbrite-text-name{
    font-size:1.6em;
    line-height: 30px;
  }
  .travelbrite-image-box{
    width: 50%;
    display: flex;
    position: relative;
    margin: 5% 5% 0 5%;
    /* border: 1px solid red; */
  }
  .travelbrite-image{
    max-width:100%;
    object-fit: contain;
    object-position: top;
    display: block;
  }
}
@media (min-width: 730px) and (max-width: 930px){
  .travelbrite{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    font-size: 1em;
      color:#55515B;
  }
  .travelbrite-text-box{
    width: 35%;
    display: flex;
    margin: 5% 0 0 8%;
    /* border: 1px solid red; */
  }
  .travelbrite-text-name{
    font-size:1.4em;
    line-height: 30px;
  }
  .travelbrite-image-box{
    width: 50%;
    display: flex;
    position: relative;
    margin: 5% 5% 0 5%;
    /* border: 1px solid red; */
  }
  .travelbrite-image{
    max-width:100%;
    object-fit: contain;
    object-position: top;
    display: block;
  }
}
@media (min-width: 530px) and (max-width: 730px){
  .travelbrite{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    font-size: 1em;
    color:#55515B;
  }
  .travelbrite-text-box{
    width: 90%;
    height: auto;
    display: flex;
    margin: 5% auto 2% ;
    /* border: 1px solid red; */
  }
  .travelbrite-text-name{
    font-size:1.4em;
    line-height: 20px;
  }
  .travelbrite-image-box{
    width: 90%;
    height: 65%;
    display: flex;
    position: relative;
    margin: 5% 5% 0 5%;
    /* border: 1px solid red; */
  }
  .travelbrite-image{
    max-width:100%;
    object-fit: contain;
    object-position: top;
    display: block;
  }
}
@media (min-width: 0px) and (max-width: 530px){
  .travelbrite{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    color:#55515B;
  }
  .travelbrite-text-box{
    width: 90%;
    height: auto;
    display: flex;
    margin: 5% auto 2% ;
    /* border: 1px solid red; */
  }
  .travelbrite-text-name{
    font-size:1.4em;
    line-height: 20px;
  }
  .travelbrite-image-box{
    width: 90%;
    height: 55%;
    display: flex;
    position: relative;
    margin: 5% auto;
    /* border: 1px solid red; */
  }
  .travelbrite-image{
    max-width:100%;
    object-fit: contain;
    object-position: top;
    display: block;
  }
}

